.courseCard {
  max-width: 210px;
  width: 210px;
  height: 232px;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(69, 73, 91, 0.08);
  font-size: 14px;
}

.courseCardImg {
  height: 104px;
  width: 100%;
  object-fit: cover;
}

.courseCardBody {
  object-fit: contain ;
}

.title {
  letter-spacing: normal;
  color: #464855;
  line-height: 10.0%;
  font-size: 1.0em;
  position: absolute;
  width: 100%;
  font-weight: bold;
  margin-left: -2%;
}

.author {
  display: inline;
  font-size: 0.7em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.33;
  letter-spacing: normal;
  color: #464855;
  position: absolute;
  width: 30%;
  margin-left: -2%;
  margin-top: 8%;
}

.divider {
  display: inline;
  border-right: solid 1px #979797;
  position: absolute;
  height: 8%;
  width: 0.1px;
  margin-left: 20%;
  margin-top: 8%;
}

.duration {
  display: inline;
  font-size: 0.7em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.33;
  letter-spacing: normal;
  color: #464855;
  position: absolute;
  width: 30%;
  margin-left: 24%;
  margin-top: 8%;  

}

.rating{
  margin-top: 24%;
  margin-left: -2%;
}

.checked {
    color: #eecd1a;
}

.unchecked {
  color: #eecd1a;
}

.reviewCount {
  display: inline;
  font-size: 0.8em;
  letter-spacing: -0.3px;
  color: #909ba7;
  padding-left: 2%;
}


.price {
  position: absolute;
  display: inline;
  margin-top: 4%;
  margin-left: -2%;
  color: #4a90e2;
  line-height: 1.1;
}

.enroll {
  position: absolute;
  margin-left: 60%;
  height: 10%;
  line-height: 1;
  margin-top: 2%;
}

body {
  font-size: 14px;
  font-family: Arial;
}