.footer {
	background-color: #000000;
	height: 8vh;
	position: static;
}

.copyRightText {
	line-height: 16px;
	color: #ffffff;
	font-size: 0.875em;
	margin-bottom: 0px;
}

.footerLink {
	line-height: 16px;
	color: #ffffff;
	font-size: 0.875em;
	margin-bottom: 0px;	
	margin-right: 4%;
}

.footerSocialIcons {
	line-height: 16px;
	color: #ffffff;
	font-size: 0.875em;
	margin-bottom: 0px;
	margin-right: 4%;
}

.twitterIcon {
	width: 1em !important;
}

@media screen and (max-width: 425px){
	.footer {
		height: auto;
	}

	.bottomMargin{
		margin-bottom: 1.5em;
	}
}

@media screen and (max-width: 768px){
	.footer{
		height: auto;
	}

	.bottomMargin{
		margin-bottom: 1.5em;
	}
}